{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-6 offset-3">
                <h1 class="text-center my-3">Register</h1>
                {% if password_not_matched %}
                    <p class="text-danger">Password do not match. Please try again.</p>
                {% elif user_exists %}
                <p class="text-danger">Username already exists. Please try again.</p>
                {% endif %}
                <form action="{% url 'todolist:register' %}" method="post">
                    <!-- This template tag provides protection against Cross Site Request Forgeries (CSRF) -->
                    <!-- CSRF occurs when a malicious website contains a link, a form button or some JavaScript that is intended to perform some action our website, using the credentials of a logged-in user -->
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username">Username: </label>
                        <input class="form-control" id="username" type="text" name="username" value="{{ username }}" maxlength="20" required>
                    </div>

                    <div class="mb-3">
                        <label for="first_name">First Name: </label>
                        <input class="form-control" id="first_name" type="text" name="first_name" value="{{ first_name }}" maxlength="20" required>
                    </div>

                    <div class="mb-3">
                        <label for="last_name">Last Name: </label>
                        <input class="form-control" id="last_name" type="text" name="last_name" value="{{ last_name }}" maxlength="20" required>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email: </label>
                        <input class="form-control" id="email" type="email" name="email" value="{{ email }}" maxlength="20" required>
                    </div>

                    <div class="mb-3">
                        <label for="password">Password: </label>
                        <input class="form-control" id="password" type="password" name="password" value="{{ password }}" maxlength="20" required>
                    </div>

                    <div class="mb-3">
                        <label for="confirm_password">Confirm Password: </label>
                        <input class="form-control" id="confirm_password" type="password" name="confirm_password" value="{{ confirm_password }}" maxlength="20" required>
                    </div>

                    <div class="text-center">
                        <input class="btn btn-success" type="submit" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}